<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="miles.canvas" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:name="miles.canvas.MainApp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="miles.canvas.ui.activity.HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="miles.canvas.ui.activity.GalleryActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/GalleryActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a8993ecce733fbb6ed9eab0eadea21ecea038c13" />

    </application>

</manifest>
